<div class="dashboard-layout">
  <aside class="sidebar">
    <div class="sidebar-header">
      <span class="material-symbols-outlined logo-icon">view_kanban</span>
      <h2>Gestión de Proyectos</h2>
    </div>
    
    <nav class="sidebar-nav">
      <a routerLink="/dashboard/proyectos" routerLinkActive="active" class="nav-item">
        <span class="material-symbols-outlined">folder_managed</span>
        Proyectos
      </a>
      <a routerLink="/dashboard/tareas" routerLinkActive="active" class="nav-item">
        <span class="material-symbols-outlined">task_alt</span>
        Tareas
      </a>
      <a routerLink="/dashboard/clientes" routerLinkActive="active" class="nav-item">
        <span class="material-symbols-outlined">groups</span>
        Clientes
      </a>

      <!-- ESTADISTICAS -->
  <a routerLink="/dashboard/estadisticas" routerLinkActive="active" class="nav-item">
    <span class="material-symbols-outlined">bar_chart</span>
    Estadísticas
  </a>

    </nav>



    <div class="sidebar-footer">
      <button class="btn-logout" (click)="cerrarSesion()">
        <span class="material-symbols-outlined">logout</span>
        Cerrar Sesión
      </button>
    </div>
  </aside>

  <main class="main-content">
    <header class="topbar">
      <div class="breadcrumb">
        <h3>Panel de Control</h3>
      </div>
      <div class="user-info">
        <span class="material-symbols-outlined user-avatar">account_circle</span>
        <span class="user-name">Hola, {{ nombreUsuario | titlecase }}</span>
      </div>
    </header>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>